* {
    
    box-sizing: border-box;
}

.header {
      background-color: royalblue;
      padding: 30px;
      text-align: center;
      color: white;
      font-size: 20px;
  }

    .mainBlock{
     display: flex;
     height: 70vh;
     
     
  }

    .navigation {
       display: flex;
       flex-direction: column;
       background-color: darkorange;
       font-size: 20px;
       padding: 0.5em;
       
       
}

    .mainContent {
      display: flex;
      flex-wrap: wrap;
      flex: 50%;
      padding: 20px;
      
}

    .relatedLinks {
      display: flex;
      flex-wrap: wrap;
      background-color: mediumvioletred;
      font-size: 20px;
      padding: 0.5em;
      
}

    .footer {
      background-color: forestgreen;
      padding: 30px;
      text-align: center;
      color: white;
      font-size: 20px;
}
  
  @media (max-width: 800px) {
      
  .mainBlock {
      
      display: flex;
      flex-direction: column;
      width: 100%;
      
      }
  }


 
 