 * {
    box-sizing: border-box;

}

  body {
    
    margin: 0px;
    width: 100%
}

   .header {
      background-color: royalblue;
      padding: 20px;
      text-align: center;
      color: white;
      font-size: 20px;
  }

    .navigation {
       float: left;
       background-color: darkorange;
       width: 15%;
       font-size: 20px;
       padding: 0.5em;
       height: 80vh;
       overflow: hidden;
       
             
}

    .main {
      float: left;
      padding: 20px;
      width: 70%;
      text-align: left;
      overflow: hidden;
      
            
}


    .related {
      float: right;
      background-color: mediumvioletred;
      width: 15%;
      font-size: 20px;
      padding: 20px;
      height: 80vh;
      overflow: hidden;
}

   
    .footer {
      clear: both;
      background-color: forestgreen;
      padding: 20px;
      text-align: center;
      color: white;
      font-size: 20px;
}
  
 @media (max-width: 800px) {
  .navigation, .related {
    width: 100%;
    height: 10vh;
  }
}