  .container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
  .header {
      grid-area: header;
      display: block;
      background-color: royalblue;
      padding: 30px;
      text-align: center;
      color: white;
      font-size: 20px;
  }

    .navigation {
       grid-area: nav;
       background-color: darkorange;
       font-size: 20px;
       padding: 0.5em;
       
}

    .mainContent {
      grid-area: content;
      padding: 20px;
}

    .relatedLinks {
      grid-area: side;
      background-color: mediumvioletred;
      font-size: 20px;
      padding: 0.5em;
}

    .footer {
      grid-area: footer;
      display: block;
      background-color: forestgreen;
      padding: 30px;
      text-align: center;
      color: white;
      font-size: 20px;
}
  
  @media (max-width: 800px) {
      
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows:
      auto 
      minmax(75px, auto) 
      1fr 
      minmax(75px, auto) 
      auto; 
  }

  .navigation, .relatedLinks {
    margin: 0;
  }